<ul class="sidebar navbar-nav">
  <li class="nav-item">
    <a class="nav-link" href="index.html">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/categorias']" routerLinkActive="true" >
      <i class="fas fa-tags"></i><span>Categorias</span>
    </a>
  </li>
  <li class="nav-item">
      <a class="nav-link" [routerLink]="['/produtos']" routerLinkActive="true" >
        <i class="fas fa-list-ul"></i><span>Produtos</span>
      </a>
    </li>
  <li class="nav-item">
    <button class="btn btn-link nav-link" (click)="sair()"><i class="fas fa-power-off"></i> <span> Sair</span></button>
  </li>
</ul>
