<div class="card card-login mx-auto mt-5">
  <div class="card-header">Criar conta</div>
  <div class="card-body">
    <form [formGroup]="formCriarConta" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" id="nome" placeholder="Nome" formControlName="nome" required>
      </div>
      <div *ngIf="nome.invalid && (nome.dirty || nome.touched)" class="alert alert-danger">
        <div *ngIf="nome.errors.required">
          O nome é obrigatório.
        </div>
      </div>

      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" class="form-control" id="email" placeholder="E-mail" formControlName="email" required>
      </div>
      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
        <div *ngIf="email.errors.required">
          O e-mail é obrigatório.
        </div>
        <div *ngIf="email.errors.email">
          O e-mail é inválido.
        </div>
      </div>

      <div class="form-group">
        <label for="senha">Senha</label>
        <input type="password" class="form-control" id="senha" placeholder="Senha" formControlName="senha" required>
      </div>
      <div *ngIf="senha.invalid && (senha.dirty || senha.touched)" class="alert alert-danger">
        <div *ngIf="senha.errors.required">
          A senha é obrigatório.
        </div>
      </div>

      <button type="submit" class="btn btn-primary btn-block">Criar conta</button>
    </form>

  </div>
</div>
