<nav class="navbar navbar-expand navbar-dark bg-dark mb-2">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="menuToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="menuToggler">
    <a class="navbar-brand" [routerLink]="['/']">Firebase</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/']" routerLinkActive="true">Dashboard <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/categorias']" routerLinkActive="true"><span>Categorias</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/produtos']" routerLinkActive="true"><span>Produtos</span></a>
      </li>
    </ul>
    <span class="navbar-text">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <button class="btn btn-link dropdown-item text-dark" (click)="sair()">Sair</button>
        </div>
      </div>
    </span>
  </div>
</nav>
