<h3>Categorias</h3>
<hr>
<div class="card">
  <div class="card-header text-right">
    <a class="btn btn-secondary" role="button" [routerLink]="['/categorias/nova']">Nova categoria</a>
  </div>
  <div class="card-body">
    <table class="table grid">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let categoria of categorias | async">
          <th scope="row">{{categoria.key}}</th>
          <td>{{ categoria.nome }}</td>
          <td class="edit">
            <a class="btn btn-light" role="button" [routerLink]="['/categorias/editar', categoria.key]"><i class="far fa-edit"></i></a>
          </td>
          <td class="delete">
            <button class="btn btn-danger" (click)="remover(categoria.key)"><i class="far fa-trash-alt"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
