<h3>Novo produto</h3>
<hr>
<form [formGroup]="formProduto" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label for="categoriaKey">Categoria</label>
    <select class="form-control" id="categoriaKey" formControlName="categoriaKey" (change)="setCategoriaNome($event.target.selectedOptions)">
      <option value="">- Escolher -</option>
      <option *ngFor="let categoria of categorias | async" [value]="categoria.key">{{categoria.nome}}</option>
    </select>
  </div>
  <div *ngIf="categoriaKey.invalid && (categoriaKey.dirty || categoriaKey.touched)" class="alert alert-danger">
    <div *ngIf="categoriaKey.errors?.required">
      A categoria é obrigatória.
    </div>
  </div>

  <div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" class="form-control" id="nome" placeholder="Nome" formControlName="nome">
  </div>
  <div *ngIf="nome.invalid && (nome.dirty || nome.touched)" class="alert alert-danger">
    <div *ngIf="nome.errors?.required">
      O nome é obrigatório.
    </div>
  </div>

  <div class="form-group">
    <label for="descricao">Descrição</label>
    <textarea rows="3" class="form-control" id="descricao" placeholder="Descrição" formControlName="descricao"></textarea>
  </div>
  <div *ngIf="descricao.invalid && (descricao.dirty || descricao.touched)" class="alert alert-danger">
    <div *ngIf="descricao.errors?.required">
      A descrição é obrigatória.
    </div>
  </div>

  <div class="form-group">
    <label for="preco">Preço</label>
    <input type="number" class="form-control" id="preco" placeholder="Preço" formControlName="preco">
  </div>
  <div *ngIf="preco.invalid && (preco.dirty || preco.touched)" class="alert alert-danger">
    <div *ngIf="preco.errors?.required">
      O preço é obrigatório.
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Salvar</button>
  <a class="btn btn-secondary ml-2" [routerLink]="['/produtos']">Voltar</a>

</form>
